.home-screen {
  background-color: #ff7999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-screen .div {
  background-color: #ff7999;
  height: 1024px;
  position: relative;
  width: 1440px;
}
